.title{
font-family: 'Work Sans';
text-align: center;
font-size: 5rem

}


.picp{
  width: 400px;
}


.phone{

position: absolute;
position: fixed;


bottom: 25px;
right: 50px;
}


.carte{

position: absolute;
position: fixed;

bottom: 70px;
right: 20px;
visibility: hidden
}

.carte:hover{
   visibility: visible;
}


.phone:hover ~ .carte{
  visibility: visible;
}

.picheader{
width: 150px;
}


.annab{

  height: 500px;
}


.logo{
  width: 100px;

}

.logoclass{
  text-align: center
}



.logos{
  text-align: center;
   padding-top: 30px;
  padding-bottom: 60px }

.logos a{
padding: 7px;


}


.scroll{
  text-align: center;
  margin-left: 46%;
  bottom: 10px;
  position: fixed;

}


.landing{
background: #EEFF27;
height: 100vh
}

.projets{
  padding: 50px;
}

.projr{
  margin-left: 60%;
}

.voici{
  text-align: center
}
