.title{
font-family: 'Work Sans';
transform: rotate(90deg);
position: absolute;
top: 40px;
left: -15px;


}


.title h1{
  font-family: 'Work Sans';
line-height: 5px;
font-size: 2rem;
            font-weight: 500;
}


.phone{

position: absolute;
position: fixed;


bottom: 25px;
right: 50px;
}


.carte{

position: absolute;
position: fixed;

bottom: 70px;
right: 20px;
visibility: hidden
}

.carte:hover{
   visibility: visible;
}


.phone:hover ~ .carte{
  visibility: visible;
}

.picheader{
width: 150px;
}
