.pres {
 font-family: Roboto Mono;

 font-size: 25px;
 text-align: left;
 padding: 30px;
 margin-top: -200px
}


@media(max-width: 601px) {
  .pres{
     font-size: 20px;
     line-height: 0px;
     padding-right: 10px
  }
}

.j{
font-weight: 700}



